openapi: 3.0.3
info:
  contact:
    email: api.inquiry@expert.ai
    name: expert.ai
    url: 'https://expert.ai/'
  description: >
    Natural Language API provides a comprehensive set of natural language
    understanding capabilities based on expert.ai technology:
    <ul>
      <li>Context based document analysis, comprising:</li>
      <ul>
        <li>Deep linguistic analysis, which, in turn, comprises:</li>
        <ul>
          <li>Text subdivision</li>
          <li>Part-of-speech tagging</li>
          <li>Morphological analysis</li>
          <li>Lemmatization</li>
          <li>Syntactic analysis</li>
          <li>Semantic analysis</li>
        </ul>
        <li>Keyphrase extraction</li>
        <li>Named entity recognition</li>
        <li>Relation extraction</li>
        <li>Sentiment analysis</li>
      </ul>
      <li>Taxonomy based document classification</li>
      <li>Information detection performed by detectors</li>
    </ul>
  title: expert.ai Natural Language API
  version: v2
externalDocs:
  description: API documentation
  url: 'https://docs.expert.ai/nlapi/v2/'
servers:
  - url: 'https://nlapi.expert.ai/v2'
  # - url: 'https://raw.githubusercontent.com/therealexpertai/nlapi-openapi-specification/master/'
  #   description: "Server of OpenAPI Specifications"
tags:
  - description: Document analysis API endpoints
    name: Document analysis
  - description: Document classification API endpoints
    name: Document classification
  - description: Information detection API endpoints
    name: Information detection
paths:
  /analyze/{context}/{language}:
    post:
      description: Full analysis (i.e., sum of all available partial analyses) of the posted text
      parameters:
        - description: Context name; use the `contexts` resource to discover available contexts
          in: path
          name: context
          required: true
          schema:
            type: string
        - description: Document language (code)
          in: path
          name: language
          required: true
          schema:
            type: string
            enum:
              - de
              - en
              - es
              - fr
              - it
      requestBody:
        content:
          application/json:
            schema:
              $ref: 'nlapi.yaml#/components/schemas/AnalysisRequest'
        description: The document to be analyzed
      responses:
        '200':
          $ref: "nlapi.yaml#/components/responses/200Analyze"
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '413':
          description: Request Entity Too Large
        '500':
          description: Internal Server Error
      security:
        - bearerAuth: []
      summary: Full analysis
      tags:
        - Document analysis
  /analyze/{context}/{language}/{analysis}:
    post:
      description: |
        Specific analysis of the posted text.
        Available analyses are:
        <ul>
          <li><strong>disambiguation</strong>: linguistic analysis (text subdivision, part-of-speech tagging, morphological analysis, lemmatization, syntactic analysis and semantic analysis)</li>
          <li><strong>relevants</strong>: keyphrase extraction</li>
          <li><strong>entities</strong>: named entity recognition</li>
          <li><strong>relations</strong>: relation extraction</li>
          <li><strong>sentiment</strong>: sentiment analysis</li>
        </ul>
      parameters:
        - description: Context name; use the `contexts` resource to discover available contexts
          in: path
          name: context
          required: true
          schema:
            type: string
        - description: Document language (code)
          in: path
          name: language
          required: true
          schema:
            type: string
            enum:
              - de
              - en
              - es
              - fr
              - it
        - description: Analysis name; use the `contexts` resource to determine if the context provides that analysis for the chosen language
          in: path
          name: analysis
          required: true
          schema:
            enum:
              - disambiguation
              - relevants
              - entities
              - sentiment
              - relations
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: 'nlapi.yaml#/components/schemas/AnalysisRequest'
        description: The document to be analyzed
      responses:
        '200':
          $ref: "nlapi.yaml#/components/responses/200Analyze"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '413':
          description: Request Entity Too Large
        '500':
          description: Internal Server Error
      security:
        - bearerAuth: []
      summary: Specific partial analysis
      tags:
        - Document analysis
  /categorize/{taxonomy}/{language}:
    post:
      description: Classification of the posted text
      parameters:
        - description: Taxonomy name; use the `taxonomies` resource to discover available taxonomies
          in: path
          name: taxonomy
          required: true
          schema:
            type: string
        - description: Document language (code); use the `taxonomies` resource to discover the languages for which the taxonomy is available
          in: path
          name: language
          required: true
          schema:
            type: string
            enum:
              - de
              - en
              - es
              - fr
              - it
      requestBody:
        content:
          application/json:
            schema:
              $ref: 'nlapi.yaml#/components/schemas/AnalysisRequest'
        description: The document to be classified
      responses:
        '200':
          $ref: "nlapi.yaml#/components/responses/200Categorize"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '413':
          description: Request Entity Too Large
        '500':
          description: Internal Server Error
      security:
        - bearerAuth: []
      summary: Classification
      tags:
        - Document classification
  /categorize/geotax/{language}:
    post:
      description: GeoJSON classification of the posted text
      parameters:
       - description: Document language (code); use the `taxonomies` resource of the expert.ai Natural Language API to discover the languages that the classification module supports
         in: path
         name: language
         required: true
         schema:
           type: string
           enum:
             - de
             - en
             - es
             - fr
             - it
       - description: Classification features, specify `extradata` to obtain GeoJSON data
         in: query
         name: features
         required: true
         schema:
           type: string
           enum:
             - extradata
      requestBody:
        content:
          application/json:
            schema:
              $ref: 'nlapi.yaml#/components/schemas/AnalysisRequest'
        description: The document to be classified
      responses:
        '200':
          $ref: 'geotax-w-geojson.yaml#/components/responses/200GeoTaxCategorize'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '413':
          description: Request Entity Too Large
        '500':
          description: Internal Server Error
      security:
        - bearerAuth: []
      summary: Classification
      tags:
        - Document classification
  /categorize/emotional-traits/{language}:
    post:
      description: Classification of the posted text
      parameters:
       - description: Two letter ISO code of the input document language. Currently the `emotional-traits` taxonomy is available for the English language (language code `en`), support for more languages will be added in future releases.
         in: path
         name: language
         required: true
         schema:
           type: string
           enum:
             - en
             - de
       - description: Classification features, specify `extradata` to obtain main groups
         in: query
         name: features
         required: true
         schema:
           type: string
           enum:
             - extradata      
      requestBody:
        content:
          application/json:
            schema:
              $ref: 'nlapi.yaml#/components/schemas/AnalysisRequest'
        description: The document to be classified
      responses:
        '200':
          $ref: "emotional-traits-w-main-groups.yaml#/components/responses/200EmotionalTraitsCategorize"
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '413':
          description: Request Entity Too Large
        '500':
          description: Internal Server Error
      security:
        - bearerAuth: []
      summary: Emotional traits classification with extra data containing the main groups of emotions
      tags:
        - Document classification
  /contexts:
    get:
      description: Information about available contexts
      responses:
        '200':
          $ref: 'nlapi.yaml#/components/responses/200Contexts'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - bearerAuth: []
      summary: Contexts information
      tags:
        - Document analysis
  /taxonomies:
    get:
      description: Information about available taxonomies
      responses:
        '200':
          $ref: 'nlapi.yaml#/components/responses/200Taxonomies'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - bearerAuth: []
      summary: Taxonomies information
      tags:
        - Document classification
  /taxonomies/{taxonomy}/{language}:
    get:
      description: Detailed information about a taxonomy for a given language
      parameters:
        - description: Taxonomy name
          in: path
          name: taxonomy
          required: true
          schema:
            type: string         
        - description: Taxonomy language (code); use the `taxonomies` resource to discover the languages that the taxonomy supports
          in: path
          name: language
          required: true
          schema:
            type: string
            enum:
              - de
              - en
              - es
              - fr
              - it
      responses:
        '200':
          $ref: 'nlapi.yaml#/components/responses/200Taxonomy'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - bearerAuth: []
      summary: Taxonomy tree
      tags:
        - Document classification
  /detectors:
    get:
      description: Information about available detectors
      responses:
        '200':
          $ref: 'nlapi.yaml#/components/responses/200Detectors'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - bearerAuth: []
      summary: Detectors information
      tags:
        - Information detection
  /detect/pii/{language}:
    post:
        tags:
          - Information detection
        parameters:
          - name: "language"
            in: path
            required: true
            schema:
              type: string
        requestBody:
          content:
            application/json:
              schema:
                $ref: 'nlapi.yaml#/components/schemas/AnalysisRequest'            
        responses:
          "200":
            $ref: "pii.yaml#/components/responses/200PIIDetection"
          "400":
            description: Bad Request
          "401":
            description: "Unauthorized"
          "403":
            description: "Forbidden"
          "404":
            description: "Not Found"
          "413":
            description: "Request Entity Too Large"
          "500":
            description: "Internal Server Error"
        security:
          - bearerAuth: []
  /detect/writeprint/{language}:
    post:
      tags:
        - Information detection
      parameters:
        - name: "language"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: 'nlapi.yaml#/components/schemas/AnalysisRequest'            
      responses:
        "200":
          $ref: "writeprint.yaml#/components/responses/200WriteprintDetection"
        "400":
          description: Bad Request
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "413":
          description: "Request Entity Too Large"
        "500":
          description: "Internal Server Error"
      security:
        - bearerAuth: []
  /detect/temporal-information/{language}:
    post:
      tags:
        - Information detection
      parameters:
        - name: "language"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: 'nlapi.yaml#/components/schemas/AnalysisRequest'            
      responses:
        "200":
          $ref: "temporal-information.yaml#/components/responses/200TemporalInformationDetection"
        "400":
          description: Bad Request
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "413":
          description: "Request Entity Too Large"
        "500":
          description: "Internal Server Error"
      security:
        - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http